* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
}

.side {
  position: relative;
  &-top {
    background-color: #253141;
    height: 100vh;
    width: 300px;
    &__box {
      display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    
    }
  }
  &-bottom {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    width: 300px;
    position: absolute;
    bottom: 0;
  }
}

.main {
  position: relative;
  &-top {
    background-color: #ffffff;
    height: 100px;
    width: calc(100vw - 300px);
    border-bottom: solid 1px #eee;
  }
  &-center {
    background-color:#fafafa;
    width: calc(100vw - 300px);
    height: calc(100vh - 190px);
  }
  &-bottom {
    background-color: #d2d2d2;
    height: 90px;
    width: calc(100vw - 300px);
    position: absolute;
    bottom: 0;
  }
  
}

